{% extends "base.html" %}
{% load static %}

{% block title %}Список файлов{% endblock %}
{% block content %}
<div>
  {% if object_list %}
  <ul>
  {% for file in object_list %}
    <p> </p>
    <ol>В файле с названием <a href="{% url 'file' file.id %}">{{ file.file }} </a> имеются следующие строки:</ol>
    <p> </p>
      <table>
        <thead>
          <tr>
           {% for i in file.header %}
            <th> {{i}}, </th>
            {% endfor %}
          </tr>
        </thead>
      </table>

    {% endfor %}
  </ul>
  {% else %}
  <p> Пока что ни одного файла не загружено</p>
  {% endif %}

</div>
{% endblock %}