{% extends "base.html" %}
{% load static %}

{% block title %}{{ name.name }}{% endblock %}
{% block content %}
<div>
  <p> Название файла: {{ file.file }}, дата загрузки: {{ file.created_at }}</p>
  <table>
    <thead>
      <tr>
      {% for i in file.header %}
        <th><a href="?sort={{i}}"> {{i}} </th>
      {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for j in file.content %}
    <tr>
        {% for k in j %}
        <td> {{k}} </td>
        {% endfor %}
    </tr>
     {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}